

<div class="footerboh">
    
        
        <div class="footer">
          <p>Coyright 2021 © Powerconnect
            — Tous droits réservés. — Mentions légales</p>
        </div>

</div>
<!-- 
  <div class="main-content">
    <div class="left box">
        <h2>About us</h2>
        <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        
        <div class="social">
            <mat-icon svgIcon="twitter"></mat-icon>
            <mat-icon svgIcon="linkdin"></mat-icon>
        </div>
         </div>
    </div>

    <div class="center box">
        <h2>Adress</h2>
        <div class="content">
            <div class="place">
                <mat-icon svgIcon="place"></mat-icon>
                <span class="text">47 Rue Marcel Dassault,</span>
                <span class="text">92514 Boulogne Billancourt</span>
            </div>

            <div class="phone">
                <mat-icon svgIcon="phone"></mat-icon>
                <span class="text">+33 1 4668 0433</span>
                
            </div>

            <div class="email">
                <mat-icon svgIcon="email"></mat-icon>
                <span class="text">contact@dowslakemicro.net

                </span>
                
            </div>
        </div>
    </div>
    
</div>

-->

