

<mat-toolbar color="primary">
    
    <span  >Catalogue</span>
    <span class="example-spacer" ></span>
    
  </mat-toolbar>

<div class="search-div">
    <button mat-raised-button routerLink="/addregion">
      <mat-icon>add</mat-icon>Ajouter Region
    </button>

    <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</div>

<div class="mat-elevation-z8">
<mat-table [dataSource]="listData" matSort>
  <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> nom Region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <button (click)="deleteRegion(element.id)" mat-icon-button color="warn" matTooltip="delete region" >
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button  (click)= "detail(element.id)" color="accent" matTooltip="detail region">
                <mat-icon>launch</mat-icon>
              </button>

              <button mat-icon-button  (click)= "ajouterSite(element.id)" color="accent" matTooltip="Ajouter Site" >
                <mat-icon>add</mat-icon>
              </button>

            
      </mat-cell>
  </ng-container>



<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>

</div>



<!-- <a  routerLink="/addregion" class="btn btn-primary" style="margin-top: 1cm ; margin-bottom: 1cm;">Ajouter un region</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> Nom Region</th>
            
            <th scope="col"> Action</th>
            
            
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let region of regions">
        <td>{{region.nom}}</td>
    
        
        <td>
          <button  class="btn btn-info" (click)="detail(region.id)">detail</button>&nbsp;&nbsp;&nbsp;
          <button  class="btn btn-danger" (click)="deleteRegion(region.id)"  >Supprimer</button>&nbsp;&nbsp;&nbsp;
          <button  class="btn btn-info" (click)="ajouterSite(region.id)"  >ajouter site region</button>
        </td>
        </tr>
        
        
    
    </tbody>
    </table>
-->

    <br>
    <br>
    <br>
    <br>

    <div class="search-div">
        <button mat-raised-button routerLink="/addsite">
          <mat-icon>add</mat-icon>Ajouter Site
        </button>
    
        <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" (keyup)="applyFilter2()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey2" (click)="onSearchClear2()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    
    </div>
    
    <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData2" matSort>
      <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header> nom site </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button (click)="deleteSite(element.id)" mat-icon-button color="warn" matTooltip="delete site" >
                  <mat-icon>delete</mat-icon>
                </button>
    
                <button mat-icon-button  (click)= "detailSite(element.id)" color="accent" matTooltip="detail site">
                    <mat-icon>launch</mat-icon>
                  </button>
    
                  <button mat-icon-button  (click)= "ajouterequip(element.id)" color="accent" matTooltip="ajouter equipement">
                    <mat-icon>add</mat-icon>
                  </button>
    
                
          </mat-cell>
      </ng-container>
    
    
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
    
    </div>
    

    <!--

    <a  routerLink="/addsite" class="btn btn-primary" style="margin-top: 1cm ; margin-bottom: 1cm;">Ajouter un site</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> Nom Site</th>
            
            <th scope="col"> Action</th>
            
            
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let site of sites">
        <td>{{site.nom}}</td>
    
        
        <td>
          <button  class="btn btn-info" (click)="detailSite(site.id)">detail</button>&nbsp;&nbsp;&nbsp;
          <button  class="btn btn-danger" (click)="deleteSite(site.id)"  >Supprimer</button>&nbsp;&nbsp;&nbsp;
          <button  class="btn btn-info" (click)="ajouterequip(site.id)"  >ajouter Equipement site </button>
          
        </td>
        </tr>
        
        
    
    </tbody>
    </table>
 -->
    

    <router-outlet></router-outlet>
    