<mat-toolbar class="toolbar" color="primary">
    
  <span  > Powerconnect </span>
  <span class="example-spacer" ></span>

  <a mat-button matSuffix mat-icon-button href="https://fr.linkedin.com/company/dowslake-microsystems" target="_blank">
    <mat-icon svgIcon="linkdin"></mat-icon>
  </a>

  <a mat-button matSuffix mat-icon-button href="https://mobile.twitter.com/dowslakemicro" target="_blank">
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>
   
  
  
</mat-toolbar>

<app-navbar></app-navbar>

  <main class="container">
  
    <router-outlet></router-outlet>
  
  </main>
  <!-- /.container -->

  <footer class="footer"></footer>